<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>   
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/> 
  </startup> 
  <runtime>
    <!-- Active le comportement transparent v2 -->
    <legacyCasPolicy enabled="true" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <legacyImpersonationPolicy enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="true" />

    <!-- Désactive la vérification de sécurité pour les assemblies mixtes -->
    <loadFromRemoteSources enabled="true" />
    <NetFx40_LegacySecurityPolicy enabled="true"/>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Local.Microsoft.Ink"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <!-- Redirige toutes les versions vers 10.0.10586.0 -->
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535"
                         newVersion="10.0.26100.1882" />
        <!-- Charge la DLL depuis le répertoire local -->
        <codeBase version="10.0.26100.1882"
                  href="local.microsoft.ink.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
